.commit-text {
    display: flex;
     padding-left: 20rpx;
    .quote{
        width: 30rpx;
        font-size: 80rpx;
    }
    .film-main {
        padding-top: 20rpx;
        padding-left: 40rpx;
        height: 400rpx !important;
    }
}