.film-list-page{
    padding: 50rpx;
    .film-list{
        .film-item{
            background: #fff;
            display: flex;
            margin-bottom: 50rpx;
            .film-poster{
                width: 150rpx;
                height: 210rpx;
            }
            .info{
                padding: 40rpx 50rpx;
                >view{
                    font-size: 28rpx;
                    margin-bottom: 50rpx;
                    &.film-name{
                        font-size: 32rpx;
                        font-weight: bold;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}